body {
  background-color: rgba(248, 212, 255, 0.769);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
p {
  font-size: x-large;
}
form {
  padding-top: 80px;
  width: 35rem;
  display: block;
  margin: 0 auto;
}
.vanilla-weather-app {
  max-width: 700px;
  margin: 0 auto;
  margin-top: 60px;
  padding: 30px 0px 30px 0px;
  background-color: white;
  border: 1px solid rgba(216, 218, 214, 0.5);
  border-radius: 10px;
}
.active {
  text-shadow: 2px 2px 2px blue;
}
.card {
  display: block;
  margin: 0 auto;
  margin-top: 20px;
  padding: 15px;
  width: 35rem;
}
.forecast {
  text-align: center;
  font-size: 12px;
}
.labels {
  color: gray;
}
.link {
  text-align: center;
  padding: 20px;
}
.high {
  color: red;
}
.low {
  color: blue;
}
.icon {
  display: block;
  position: relative;
  left: -20px;
}
#toCelsius,
#toFahrenheit {
  color: blue;
  text-decoration: none;
}
#toCelsius:hover,
#toFahrenheit:hover {
  text-shadow: 2px 2px 2px blue;
}
#cityDisplay {
  color: gray;
  padding: 20px 0px 20px 5px;
  font-size: 42px;
  line-height: 1.5;
}
#weatherDisplay:first-letter {
  text-transform: capitalize;
}
#search,
#current {
  display: block;
  margin: 0 auto;
}
