:root {
  --brand-color: #be3144;
  --secondary-color: #3a4750;
  --main-background-color: #d3d6db;
  --shadow-color: #303841;
}
.header {
  color: #fdffabcc;
  font-family: "Press Start 2P", cursive;
  text-shadow: 2px 5px 5px #bae8e8, -2px -2px 2px var(--brand-color);
}
body {
  background-color: var(--secondary-color);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
form {
  padding: 20px;
  max-width: 35rem;
  display: block;
  margin: 0 auto;
}
.vanilla-weather-app {
  max-width: 700px;
  margin: 0 auto;
  margin-top: 60px;
  padding: 30px 0px 30px 0px;
  background-color: var(--shadow-color);
  border: 1px solid var(--brand-color);
  border-radius: 10px;
}
.active {
  text-shadow: 1px 1px 1px var(--shadow-color);
}
.card {
  display: block;
  margin: 0 auto;
  margin-top: 20px;
  padding: 15px;
  max-width: 35rem;
  background-color: var(--main-background-color);
  border: 1px solid var(--brand-color);
}
.forecast {
  text-align: center;
  font-size: 12px;
}
.labels {
  color: var(--shadow-color);
  opacity: 0.7;
  font-size: 16px;
}
.links {
  color: var(--brand-color);
  opacity: 0.7;
}
.link {
  color: var(--brand-color);
}
.link:hover {
  color: var(--brand-color);
  text-shadow: 2px 2px 2px var(--brand-color);
}
.high {
  color: red;
}
.low {
  color: blue;
}
.icon {
  display: block;
  position: relative;
  left: -20px;
}
#toCelsius,
#toFahrenheit {
  color: blue;
  text-decoration: none;
}
#toCelsius:hover,
#toFahrenheit:hover {
  text-shadow: 2px 2px 2px var(--shadow-color);
}
#city {
  background-color: var(--main-background-color);
  border: 1px solid var(--brand-color);
}
#cityDisplay {
  color: var(--shadow-color);
  opacity: 0.7;
  padding: 20px 0px 20px 5px;
}
#weatherDisplay:first-letter {
  text-transform: capitalize;
}
.button {
  display: block;
  margin: 0 auto;
  background-color: var(--brand-color);
  color: var(--shadow-color);
}
.button:hover {
  background-color: var(--brand-color);
  opacity: 0.7;
}
@media (max-width: 760px) {
  .vanilla-weather-app {
    margin-top: 15px;
    background-color: var(--secondary-color);
    border: none;
  }
  .card {
    margin-top: 0px;
    padding: 0;
  }
}
